In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
s = pd.Series([1,3,5,np.nan,6,8])

In [5]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
dates = pd.date_range('20130101', periods=6)

In [7]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [9]:
df

                   A         B         C         D
2013-01-01 -1.664001  0.162581  0.726468 -0.599676
2013-01-02 -0.617337  0.325801 -1.941417  0.516686
2013-01-03 -2.091505 -0.006610  1.009723  1.345720
2013-01-04 -0.938289  0.359756  1.892944 -0.521978
2013-01-05 -0.146706  0.081882  0.033696 -1.787099
2013-01-06  0.041325 -0.668906 -1.070877 -1.003327

In [10]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4, dtype='int32'),
                     'E' : pd.Categorical(['test', 'train', 'test', 'train']),
                     'F' : 'foo' })

In [11]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [12]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [13]:
df.head()

                   A         B         C         D
2013-01-01 -1.664001  0.162581  0.726468 -0.599676
2013-01-02 -0.617337  0.325801 -1.941417  0.516686
2013-01-03 -2.091505 -0.006610  1.009723  1.345720
2013-01-04 -0.938289  0.359756  1.892944 -0.521978
2013-01-05 -0.146706  0.081882  0.033696 -1.787099

In [14]:
df.head(2)

                   A         B         C         D
2013-01-01 -1.664001  0.162581  0.726468 -0.599676
2013-01-02 -0.617337  0.325801 -1.941417  0.516686

In [15]:
df.tail(2)

                   A         B         C         D
2013-01-05 -0.146706  0.081882  0.033696 -1.787099
2013-01-06  0.041325 -0.668906 -1.070877 -1.003327

In [16]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [18]:
df.values

array([[-1.6640006 ,  0.16258081,  0.72646827, -0.59967595],
       [-0.61733704,  0.32580055, -1.94141716,  0.5166864 ],
       [-2.09150471, -0.00661031,  1.00972287,  1.34571996],
       [-0.93828873,  0.35975563,  1.89294422, -0.52197807],
       [-0.1467058 ,  0.08188244,  0.03369598, -1.78709887],
       [ 0.04132523, -0.66890577, -1.07087705, -1.00332677]])

In [19]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.902752  0.042417  0.108423 -0.341612
std    0.841219  0.375604  1.412587  1.114468
min   -2.091505 -0.668906 -1.941417 -1.787099
25%   -1.482573  0.015513 -0.794734 -0.902414
50%   -0.777813  0.122232  0.380082 -0.560827
75%   -0.264364  0.284996  0.938909  0.257020
max    0.041325  0.359756  1.892944  1.345720

In [20]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -1.664001   -0.617337   -2.091505   -0.938289   -0.146706    0.041325
B    0.162581    0.325801   -0.006610    0.359756    0.081882   -0.668906
C    0.726468   -1.941417    1.009723    1.892944    0.033696   -1.070877
D   -0.599676    0.516686    1.345720   -0.521978   -1.787099   -1.003327

In [21]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -0.599676  0.726468  0.162581 -1.664001
2013-01-02  0.516686 -1.941417  0.325801 -0.617337
2013-01-03  1.345720  1.009723 -0.006610 -2.091505
2013-01-04 -0.521978  1.892944  0.359756 -0.938289
2013-01-05 -1.787099  0.033696  0.081882 -0.146706
2013-01-06 -1.003327 -1.070877 -0.668906  0.041325

In [22]:
df.sort_index(axis=1, ascending=True)

                   A         B         C         D
2013-01-01 -1.664001  0.162581  0.726468 -0.599676
2013-01-02 -0.617337  0.325801 -1.941417  0.516686
2013-01-03 -2.091505 -0.006610  1.009723  1.345720
2013-01-04 -0.938289  0.359756  1.892944 -0.521978
2013-01-05 -0.146706  0.081882  0.033696 -1.787099
2013-01-06  0.041325 -0.668906 -1.070877 -1.003327

In [23]:
df.sort_values(by='C')

                   A         B         C         D
2013-01-02 -0.617337  0.325801 -1.941417  0.516686
2013-01-06  0.041325 -0.668906 -1.070877 -1.003327
2013-01-05 -0.146706  0.081882  0.033696 -1.787099
2013-01-01 -1.664001  0.162581  0.726468 -0.599676
2013-01-03 -2.091505 -0.006610  1.009723  1.345720
2013-01-04 -0.938289  0.359756  1.892944 -0.521978

In [24]:
df['A']

2013-01-01   -1.664001
2013-01-02   -0.617337
2013-01-03   -2.091505
2013-01-04   -0.938289
2013-01-05   -0.146706
2013-01-06    0.041325
Freq: D, Name: A, dtype: float64

In [25]:
df[00:3]

                   A         B         C         D
2013-01-01 -1.664001  0.162581  0.726468 -0.599676
2013-01-02 -0.617337  0.325801 -1.941417  0.516686
2013-01-03 -2.091505 -0.006610  1.009723  1.345720

In [26]:
df['20130102' : '20130104']

                   A         B         C         D
2013-01-02 -0.617337  0.325801 -1.941417  0.516686
2013-01-03 -2.091505 -0.006610  1.009723  1.345720
2013-01-04 -0.938289  0.359756  1.892944 -0.521978